@import views.PageEnumeration

@(
    title: String,
    pages: List[PageEnumeration],
    currentPage: PageEnumeration,
    fontAwesome: String,
    displayChildren: Boolean = true
)

<li>
    <a
        class="@{if (pages.contains(currentPage)) "active-menu" else ""}"
        href="@if(!displayChildren && pages.contains(currentPage)) {@currentPage.url}"
    >
        <i class="@fontAwesome"></i>@title @if(displayChildren) { <span class="fa arrow"></span> }
    </a>
    <ul class="nav nav-second-level @if(pages.contains(currentPage)) { collapse in }">
        @pages.filter(_ => displayChildren).map { page =>
            <li>
                <a class="@{if (currentPage == page) "active-menu" else ""}" href="@page.url">
                    <i class="@page.fontAwesome"></i>@page.name
                </a>
            </li>
        }
    </ul>
</li>
