@import views.ProfileOverview
@import views.ProfileDetails

@(profiles: Seq[AcsProfile])

@layouts.default(ProfileOverview) {
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Profile</a>
        </li>
        <li class="breadcrumb-item active">Overview</li>
    </ol>
    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Unit Type</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Unit Type</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    @for(profile <- profiles) {
                        <tr>
                            <td><a href="@routes.ProfileController.viewProfile(profile.id)">@profile.name</a></td>
                            <td>@profile.unitType.name</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
