@import views.CreateProfile

@(form: Form[ProfileForm.Profile], unitTypes: Seq[AcsUnitType], error: Option[String] = None)(implicit messagesProvider: MessagesProvider, flash: Flash)

@layouts.default(CreateProfile) {
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Profile</a>
        </li>
        <li class="breadcrumb-item active">Create</li>
    </ol>
    <div class="card mb-3">
        <div class="card-body">
            @b4.vertical.form(routes.ProfileController.postCreate) { implicit vfc =>
                @b4.select(form("unitTypeId"), options = List(("", "Select Unit Type")) ++ unitTypes.map(ut => (ut.unitTypeId.map(_.toString).getOrElse(""), ut.name)).toList, '_label -> "Select Unit Type" )
                @b4.text(form("name"), '_label -> "Name", 'placeholder -> "Enter name")
                @b4.submit('class -> "btn btn-primary"){ Submit }
            }
            <p style="color: green">@flash.get("success")</p>
            <p style="color: red">@flash.get("failure").orElse(error)</p>
        </div>
    </div>
}
