@import views.ProfileDetails

@(profile: AcsProfile)

@layouts.default(ProfileDetails) {
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Profile</a>
        </li>
        <li class="breadcrumb-item">Details</li>
        <li class="breadcrumb-item active">@profile.name</li>
    </ol>
    <div class="card mb-3">
        <div class="card-body">
            <p>Name: <b>@profile.name</b></p>
            <p>Unit Type: @profile.unitType.name</p>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    @for(param <- profile.params) {
                        <tr>
                            <td>@param.unitTypeParamName</td>
                            <td>@param.value</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
