@import controllers.UnitTypeForm
@import views.CreateUnitType

@(form: Form[UnitTypeForm.UnitType], error: Option[String] = None)(
        implicit messagesProvider: MessagesProvider, flash: Flash, req: RequestHeader)

@layouts.default(CreateUnitType) {
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Unit Type</a>
        </li>
        <li class="breadcrumb-item active">Create</li>
    </ol>
    <div class="card mb-3">
        <div class="card-body">
            @b4.vertical.formCSRF(routes.UnitTypeController.postCreate) { implicit vfc =>
                @b4.text(form("name"), '_label -> "Name", 'placeholder -> "Enter name")
                @b4.text(form("vendor"), '_label -> "Vendor", 'placeholder -> "Enter vendor")
                @b4.textarea(form("description"), '_label -> "Description", 'placeholder -> "Enter description")
                @b4.select(form("protocol"), options = AcsProtocol.values.map(p => (p.name, p.name)), '_label -> "Select" )
                @b4.submit('class -> "btn btn-primary"){ Submit }
            }
            <p style="color: green">@flash.get("success")</p>
            <p style="color: red">@flash.get("failure").orElse(error)</p>
        </div>
    </div>
}
