@import views.UnitTypeDetails

@(unitType: AcsUnitType)

@layouts.default(UnitTypeDetails) {
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Unit Type</a>
        </li>
        <li class="breadcrumb-item">Details</li>
        <li class="breadcrumb-item active">@unitType.name</li>
    </ol>
    <div class="card mb-3">
        <div class="card-body">
            <p>Name: <b>@unitType.name</b></p>
            <p>Vendor: @unitType.vendor</p>
            <p>Description: @unitType.description</p>
            <p>Protocol: @unitType.protocol</p>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Flags</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Flags</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    @for(param <- unitType.params) {
                        <tr>
                            <td>@param.name</td>
                            <td>@param.flags</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
