@import views.Dashboard

@main("Dashboard", Dashboard) {
    <div class="row">
        <div class="col-md-4">
            <div class="main-box mb-red">
                <a href="#">
                    <i class="fa fa-bolt fa-5x"></i>
                    <h5>No errors logged</h5>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="main-box mb-dull">
                <a href="#">
                    <i class="fa fa-plug fa-5x"></i>
                    <h5>2500 units</h5>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="main-box mb-pink">
                <a href="#">
                    <i class="fa fa-ambulance fa-5x"></i>
                    <h5>2 failed jobs</h5>
                </a>
            </div>
        </div>
    </div>
}
