@import views.Dashboard
@import views.UnitTypeOverview
@import views.CreateUnitType
@import views.ProfileOverview
@import views.CreateProfile
@import views.html.templates.MenuItem
@import views.PageEnumeration
@import views.UnitSearch
@import views.CreateUnit
@import views.GroupOverview
@import views.CreateGroup
@import views.JobOverview
@import views.CreateJob

@import java.time.LocalDate
@(title: String, currentPage: PageEnumeration)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FreeACS | @title</title>
        <link href="@routes.Assets.versioned("css/bootstrap.css")" rel="stylesheet" />
        <link href="@routes.Assets.versioned("css/font-awesome.css")" rel="stylesheet" />
        <link href="@routes.Assets.versioned("css/basic.css")" rel="stylesheet" />
        <link href="@routes.Assets.versioned("css/custom.css")" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">FREEACS TR-069</a>
                </div>
                <div class="header-right">
                    <a href="message-task.html" class="btn btn-info" title="New Message">
                        <b>30 </b><i class="fa fa-envelope-o fa-2x"></i>
                    </a>
                    <a href="message-task.html" class="btn btn-primary" title="New Task">
                        <b>40 </b><i class="fa fa-bars fa-2x"></i>
                    </a>
                    <a href="login.html" class="btn btn-danger" title="Logout">
                        <i class="fa fa-exclamation-circle fa-2x"></i>
                    </a>
                </div>
            </nav>
            <nav class="navbar-default navbar-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="main-menu">
    @MenuItem("Dashboard", List(Dashboard), currentPage, "fa fa-dashboard", displayChildren = false)
    @MenuItem("UnitType", List(UnitTypeOverview, CreateUnitType), currentPage, "fa fa-gears")
    @MenuItem("Profiles", List(ProfileOverview, CreateProfile), currentPage, "fa fa-gear")
    @MenuItem("Units", List(UnitSearch, CreateUnit), currentPage, "fa fa-hdd-o")
    @MenuItem("Groups", List(GroupOverview, CreateGroup), currentPage, "fa fa-group")
    @MenuItem("Jobs", List(JobOverview, CreateJob), currentPage, "fa fa-calendar")
                    </ul>
                </div>
            </nav>
            <div id="page-wrapper">
                <div id="page-inner">
                @content
                </div>
            </div>
        </div>
        <div id="footer-sec">
                    &copy; @LocalDate.now().getYear. FreeACS
        </div>
        <script src="@routes.Assets.versioned("js/jquery-1.10.2.js")"></script>
        <script src="@routes.Assets.versioned("js/bootstrap.js")"></script>
        <script src="@routes.Assets.versioned("js/jquery.metisMenu.js")"></script>
        <script src="@routes.Assets.versioned("js/wizard/jquery.steps.js")"></script>
        <script src="@routes.Assets.versioned("js/custom.js")"></script>
    </body>
</html>
