@import views.Dashboard
@import views.UnitTypeOverview
@import views.CreateUnitType
@import views.ProfileOverview
@import views.CreateProfile
@import views.html.fragments.MenuItem
@import views.Page
@import views.UnitSearch
@import views.CreateUnit
@import views.GroupOverview
@import views.CreateGroup
@import views.JobOverview
@import views.CreateJob
@import java.time.LocalDate

@(title: String, currentPage: Page)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>FreeACS | @title</title>
        <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
        <link href="/assets/css/sb-admin.css" rel="stylesheet">
    </head>

    <body id="page-top">
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
            <a class="navbar-brand mr-1" href="index.html">FreeACS TR-069</a>
            <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
                <i class="fas fa-bars"></i>
            </button>
            <!-- Navbar Search -->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!-- Navbar -->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>
                        <span class="badge badge-danger">9+</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-envelope fa-fw"></i>
                        <span class="badge badge-danger">7</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-fw"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Activity Log</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>

        <div id="wrapper">
            <ul class="sidebar navbar-nav">
                @MenuItem("Dashboard", List(Dashboard), currentPage, "fa fa-dashboard", displayChildren = false)
                @MenuItem("Unit Type", List(UnitTypeOverview, CreateUnitType), currentPage, "fa fa-gears")
                @MenuItem("Profiles", List(ProfileOverview, CreateProfile), currentPage, "fa fa-gear")
                @MenuItem("Units", List(UnitSearch, CreateUnit), currentPage, "fa fa-hdd-o")
                @MenuItem("Groups", List(GroupOverview, CreateGroup), currentPage, "fa fa-group")
                @MenuItem("Jobs", List(JobOverview, CreateJob), currentPage, "fa fa-calendar")
            </ul>
            <div id="content-wrapper">
                <div class="container-fluid">
                    @content
                </div>

                <!-- Sticky Footer -->
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright © Your Website 2019</span>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

            <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <script src="/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/assets/vendor/chart.js/Chart.min.js"></script>
        <script src="/assets/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/assets/vendor/datatables/dataTables.bootstrap4.js"></script>
        <script src="/assets/js/sb-admin.min.js"></script>
        <script src="/assets/js/demo/datatables-demo.js"></script>
    </body>
</html>
